/* Contenedor principal para que no se superponga a la sidebar */
.content2 {
    margin-left: 200px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Ajustes de diseño para los cursos */
  .content2 h2 {
    color: #2e3b4e;
  }
  
  .content2 form {
    margin-bottom: 20px;
  }
  
  .content2 form div {
    margin-bottom: 10px;
  }
  
  .content2 ul {
    list-style-type: none;
    padding: 0;
  }
  
  .content2 li {
    background-color: #f4f6f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
