.sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e3b4e; /* color de fondo */
    padding-top: 20px;
    color: white;
  }
  
  .sidebar h2 {
    text-align: center;
    color: #ffffff;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 20px 0;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar ul li a:hover {
    color: #dcdcdc; /* color de hover */
  }
  