.delete-account-form {
    background-color: #f8f9fa; /* Color de fondo del formulario */
    border: 1px solid #ddd; /* Borde del formulario */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px;
    margin-top: 20px; /* Espaciado superior */
    width: 400px; /* Ancho del formulario */
  }
  
  .delete-account-form h3 {
    color: #2e3b4e; /* Color del título */
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  .delete-account-form p {
    margin-bottom: 15px; /* Espaciado inferior */
    color: #333; /* Color del texto del párrafo */
  }
  
  .delete-account-form button {
    background-color: red; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar */
    font-weight: bold; /* Negrita para el texto del botón */
  }
  
  .delete-account-form button:hover {
    background-color: darkred; /* Color al pasar el cursor */
  }
  